PORT=3000
DATABASE_URL="postgresql://user:password@localhost:5432/dbname"
REDIS_URL="redis://localhost:63790"
REDIS_HOST="localhost"
REDIS_PORT=63790
NODE_ENV="development"
FRONTEND_URL="http://localhost:5173"
CLERK_PUBLISHABLE_KEY="pk_test_..."
CLERK_SECRET_KEY="sk_test_..."
